{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block main_content %}
	<form method="post" class="my_form">
		<fieldset>
			<legend>Change Password</legend>
			{% for message in get_flashed_messages() %}
		   		<div class="flash">{{ message }}</div>
		    {% endfor %}
			<label for="old_password"><span>*</span>Old Password</label>
			<input type="password" name="old_password"><br><br>
			<label for="new_password"><span>*</span>New Password</label>
			<input type="password" name="new_password"><br><br>
			<label for="confirm"><span>*</span>Confirm Password</label>
			<input type="password" name="confirm"><br><br>
			<input type="submit" value="Submit" class="btn" style="width: 100px;">
		</fieldset>		
	</form>
{% endblock %}